services:
  gotify-server:
    image: gotify/server
    container_name: gotify
    restart: unless-stopped
    environment:
      TZ: "${GOTIFY_TIMEZONE}"
    networks:
      - traefik
    volumes:
      - "${GOTIFY_HOME}/data:/app/data"
    labels:
      traefik.enable: true
      traefik.http.services.gotify.loadbalancer.server.port: 80
      traefik.http.routers.gotify.rule: Host(`${GOTIFY_HOST}`)
      traefik.http.routers.gotify.entrypoints: https
    
networks:
  traefik:
    name: traefik
    external: true