- name: Common lxc configuration
  hosts: lxcs
  roles:
    - lxc

- name: Common configuration
  hosts: all
  roles:
    - locale
    - rsync
    - sshd
    - utils

- name: Unattended upgrades
  hosts:
    - vms
    - lxcs
  roles:
    - unattended-upgrades
    - postfix

- name: Restart schedule
  hosts: schedule_restart
  roles:
    - schedule-restart

- name: Certbot
  hosts: certbot
  roles:
    - certbot

- name: Docker
  hosts: docker
  roles:
    - docker

- name: Traefik
  hosts: traefik
  roles:
    - traefik

- name: Portainer
  hosts: portainer
  roles:
    - portainer

- name: Watchtower
  hosts: watchtower
  roles:
    - watchtower

- name: Portainer agent
  hosts: portainer_agent
  roles:
    - portainer-agent
