services:
  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    restart: unless-stopped
    networks:
      - traefik
    volumes:
      - "${PROMETHEUS_HOME}/prometheus.yml:/etc/prometheus/prometheus.yml"
      - "${PROMETHEUS_HOME}/data:/prometheus"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    labels:
      traefik.enable: true
      traefik.http.services.prometheus.loadbalancer.server.port: 9090
      traefik.http.routers.prometheus.rule: Host(`${PROMETHEUS_HOST}`)
      traefik.http.routers.prometheus.entrypoints: https

networks:
  traefik:
    name: traefik
    external: true