version: "3"
services:
  upsnap:
    image: ghcr.io/seriousm4x/upsnap:4
    restart: unless-stopped
    network_mode: host
    volumes:
      - ${UPSNAP_HOME}/data:/app/pb_data
    environment:
      TZ: $UPSNAP_TZ
    ports:
      - 8090:8090