services:
  # Database
  postgres:
    image: docker.io/library/postgres:17-alpine
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    networks:
      - internal
    volumes:
      - "${AUTHENTIK_HOME}/postgres_17:/var/lib/postgresql/data"
    environment:
      POSTGRES_PASSWORD: "${AUTHENTIK_POSTGRES_PASSWORD}"
      POSTGRES_USER: "${AUTHENTIK_POSTGRES_USERNAME}"
      POSTGRES_DB: "${AUTHENTIK_POSTGRES_SCHEMA}"
      
  # Database backups
  postgres-backup:
    image: prodrigestivill/postgres-backup-local:alpine
    restart: unless-stopped
    user: postgres:postgres
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USER: "${AUTHENTIK_POSTGRES_USERNAME}"
      POSTGRES_PASSWORD: "${AUTHENTIK_POSTGRES_PASSWORD}"
      POSTGRES_DB: "${AUTHENTIK_POSTGRES_SCHEMA}"
    networks:
      - internal
    volumes:
      - "${AUTHENTIK_HOME}/backups:/backups"
    depends_on:
      - postgres
  
  # Redis cache
  redis:
    image: docker.io/library/redis:alpine
    command: --save 60 1 --loglevel warning
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    networks:
      - internal
    volumes:
      - "${AUTHENTIK_HOME}/redis:/data"
      
  # Authentik server
  server:
    image: "ghcr.io/goauthentik/server:${AUTHENTIK_VERSION}"
    restart: unless-stopped
    command: server
    depends_on:
      - postgres
      - redis
    networks:
      - traefik
      - internal
    environment:
      AUTHENTIK_ERROR_REPORTING__ENABLED: true
      AUTHENTIK_SECRET_KEY: "${AUTHENTIK_SECRET_KEY}}"
      AUTHENTIK_COOKIE_DOMAIN: "${AUTHENTIK_COOKIE_DOMAIN}"
      # Connection settings
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__USER: "${AUTHENTIK_POSTGRES_USERNAME}"
      AUTHENTIK_POSTGRESQL__NAME: "${AUTHENTIK_POSTGRES_SCHEMA}"
      AUTHENTIK_POSTGRESQL__PASSWORD: "${AUTHENTIK_POSTGRES_PASSWORD}"
      # Email settings
      AUTHENTIK_EMAIL__HOST: "${AUTHENTIK_EMAIL_HOST}"
      AUTHENTIK_EMAIL__PORT: "${AUTHENTIK_EMAIL_PORT}"
      AUTHENTIK_EMAIL__USERNAME: "${AUTHENTIK_EMAIL_USERNAME}"
      AUTHENTIK_EMAIL__PASSWORD: "${AUTHENTIL_EMAIL_PASSWORD}"
      AUTHENTIK_EMAIL__FROM: "${AUTHENTIK_EMAIL_FROM}"
      AUTHENTIK_EMAIL__USE_TLS: true
    volumes:
      - "${AUTHENTIK_HOME}/data:/data"
      - "${AUTHENTIK_HOME}/custom-templates:/templates"
    labels:
      traefik.enable: true
      traefik.docker.network: traefik
      # Normal server traffic
      traefik.http.services.authentik.loadbalancer.server.port: 9000
      traefik.http.routers.authentik.rule: Host(`${AUTHENTIK_HOST}`)
      traefik.http.routers.authentik.entrypoints: https
      traefik.http.routers.authentik.service: authentik
      # Embedded proxy outpost
      traefik.http.services.authentik-proxy-outpost.loadbalancer.server.port: 9000
      traefik.http.routers.authentik-proxy-outpost.rule: |
        HostRegexp(`{subdomain:[a-z0-9-]+}.${AUTHENTIK_COOKIE_DOMAIN}`) && PathPrefix(`/outpost.goauthentik.io/`)
      traefik.http.routers.authentik-proxy-outpost.entrypoints: https
      traefik.http.routers.authentik-proxy-outpost.service: authentik-proxy-outpost
      # Metrics
      traefik.http.services.authentik-metrics.loadbalancer.server.port: 9300
      traefik.http.routers.authentik-metrics.rule: Host(`${AUTHENTIK_HOST}`) && PathPrefix(`/metrics`)
      traefik.http.routers.authentik-metrics.middlewares: local-whitelist
      traefik.http.routers.authentik-metrics.entrypoints: https
      traefik.http.routers.authentik-metrics.service: authentik-metrics

  # Authentik worker
  worker:
    image: "ghcr.io/goauthentik/server:${AUTHENTIK_VERSION}"
    restart: unless-stopped
    command: worker
    depends_on:
      - postgres
      - redis
      - server
    networks:
      - internal
    environment:
      AUTHENTIK_ERROR_REPORTING__ENABLED: true
      AUTHENTIK_SECRET_KEY: "${AUTHENTIK_SECRET_KEY}}"
      AUTHENTIK_COOKIE_DOMAIN: "${AUTHENTIK_COOKIE_DOMAIN}"
      # Connection settings
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__USER: "${AUTHENTIK_POSTGRES_USERNAME}"
      AUTHENTIK_POSTGRESQL__NAME: "${AUTHENTIK_POSTGRES_SCHEMA}"
      AUTHENTIK_POSTGRESQL__PASSWORD: "${AUTHENTIK_POSTGRES_PASSWORD}"
      # Email settings
      AUTHENTIK_EMAIL__HOST: "${AUTHENTIK_EMAIL_HOST}"
      AUTHENTIK_EMAIL__PORT: "${AUTHENTIK_EMAIL_PORT}"
      AUTHENTIK_EMAIL__USERNAME: "${AUTHENTIK_EMAIL_USERNAME}"
      AUTHENTIK_EMAIL__PASSWORD: "${AUTHENTIL_EMAIL_PASSWORD}"
      AUTHENTIK_EMAIL__FROM: "${AUTHENTIK_EMAIL_FROM}"
      AUTHENTIK_EMAIL__USE_TLS: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "${AUTHENTIK_HOME}/data:/data"
      - "${AUTHENTIK_CERTS_DIRECTORY}:/certs"
      - "${AUTHENTIK_HOME}/custom-templates:/templates"

networks:
  traefik:
    name: traefik
    external: true
  internal: