all:
  hosts:
    config_server:
      ansible_host: config.ggrainger.uk
    hypervisor_server:
      ansible_host: pve.ggrainger.uk
      ansible_user: ansible
    backup_server:
      ansible_host: pbs.ggrainger.uk
      ansible_user: ansible
    media_server:
      ansible_host: media.ggrainger.uk
      ansible_user: ansible
    game_server:
      ansible_host: gameserver.ggrainger.uk
      ansible_user: ansible
    document_server:
      ansible_host: documents.ggrainger.uk
      ansible_user: ansible
    monitoring_server:
      ansible_host: monitoring.ggrainger.uk
      ansible_user: ansible
    portainer_server:
      ansible_host: portainer.ggrainger.uk
      ansible_user: ansible
    ci_runner_server:
      ansible_host: ci-runner.ggrainger.uk
      ansible_user: ansible
    gateway_server:
      ansible_host: gateway.ggrainger.uk
      ansible_user: ansible
    git_server:
      ansible_host: git.ggrainger.uk
      ansible_user: ansible
    auth_server:
      ansible_host: auth.ggrainger.uk
      ansible_user: ansible
    headscale_server:
      ansible_host: headscale.ggrainger.uk
      ansible_user: ansible

  children:
    # LXC containers
    lxcs:
      hosts:
        config_server:

    # QEMU VMs
    vms:
      hosts:
        game_server:
        document_server:
        monitoring_server:
        ci_runner_server:
        portainer_server:
        gateway_server:
        git_server:
        auth_server:
        media_server:
        headscale_server:

    # Systems using docker
    docker:
      hosts:
        game_server:
        monitoring_server:
        backup_server:
        ci_runner_server:
        portainer_server:
        gateway_server:
        git_server:
        auth_server:
        media_server:
        document_server:
        headscale_server:

    # Portainer agent
    portainer_agent:
      hosts:
        game_server:
        monitoring_server:
        backup_server:
        gateway_server:
        headscale_server:
        git_server:
        auth_server:
        media_server:

    # Watchtower docker updates
    watchtower:
      hosts:
        game_server:
        monitoring_server:
        backup_server:
        ci_runner_server:
        portainer_server:
        gateway_server:
        git_server:
        auth_server:
        media_server:
        document_server:
        headscale_server:

    # Traefik reverse proxy
    traefik:
      hosts:
        document_server:
        game_server:
        monitoring_server:
        backup_server:
        git_server:
        auth_server:
        media_server:
        headscale_server:

    # Hosts running portainer
    portainer:
      hosts:
        portainer_server:

    # Hosts with scheduled restarts
    schedule_restart:
      hosts:
        media_server:

    # Hosts with certbot
    certbot:
      hosts:
        auth_server:
